body {
  background-color: #1d2127 ;
  color: white;
}



li a {
  text-decoration: none;
  float: left;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: white;
  border: 1px solid white;
  background-color: black;
  padding: 15px;
  display: inline-block;
}

a:hover, a:active {
  background-color: grey;
  color: black;
}

